@media (min-width: 77em) {
  img[alt*='2up'] {
    width: 47%;
    float: left;
    margin-right: 1em
  }
}

iframe {
  width: 100%;
  height: auto;
  height: 70vh;
}

.sidebar, .sidebar a {
  color: black;
  background-color: #EDCA77;
}
